{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha Project</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Signup</button>
                    </form>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
