{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="Tasks">
            <h1>My Tasks</h1>
            {% for task in tasks %}{% endfor %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date|date:"m/d/y" }}</td>
                        <td>{{ task.due_date|date:"m/d/y" }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                </tbody>
            </table>
            {% if not tasks %}<p>You have no tasks</p>{% endif %}
        </div>
    </main>
{% endblock content %}
