<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Alpha</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ project.name.content }}</h1>
                <p>{{ project.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in show_project %}{% endfor %}
                        <tr>
                            <td>{{ Task.name }}</td>
                            <td>{{ Task.assignee }}</td>
                            <td>{{ Task.start_date|date:"m/d/y" }}</td>
                            <td>{{ Task.due_date }}</td>
                            <td>{{ Task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if not projects %}<p>This project has no tasks</p>{% endif %}
            </div>
        </main>
    </body>
</html>
